<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-WuViQmTamrPyvMFZjf8te7HpKtdxuzV/HX1yG26a0d8yieIBr+beDf1ME99iX1cM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <title th:text="'View ' + ${super.name}">View Individual</title>
    <style>
        #radar {
            height: 50px;
        }

        #main {
            padding-top: 10px;
        }

        .scroll {
            height: 150px;
            overflow: auto;
        }

        label {
            font-weight: bold;
        }

        #profilePicDiv {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .profilePic {
            border-radius: 10px;
            width: 75%;
        }
    </style>
</head>

<body>
    <div class="container">
        <nav class="row navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/"><img id="radar" src="/icons/radar.svg" alt="Radar for spotting supers"> Super Sightings</a>
            <div id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sightings">Sightings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="locations">Locations</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="supers">People<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="organizations">Organizations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="abilities">Abilities</a>
                    </li>
                </ul>
            </div>
        </nav>



        <div class="row m-4 border border-dark">
            <div class="col-6 text-right"><strong>ID</strong></div>
            <div class="col-6 text-left">
                <span th:text="${sv.superId}">display id</span>
            </div>

            <div class="col-6 text-right"><strong>Name</strong></div>
            <div class="col-6 text-left">
                <span th:text="${sv.name}">display name</span>
            </div>

            <div class="col-6 text-right"><strong>Description</strong></div>
            <div class="col-6 text-left">
                <span th:text="${sv.description}">display description</span>
            </div>
            <div class="col-6 text-right"><strong>Ability</strong></div>
            <div class="col-6 text-left">
                <span th:text="${sv.ability.name + '. ' + 
                      sv.ability.description}">Ability</span>
            </div>
            <div class="col-6 text-right"><strong>Organizations</strong></div>
            <div class="col-6 text-left">
                <span th:each="o : ${sv.organizationList}">
                    <span th:text="${o.name + '. ' + o.description}">
                        display organizations</span><br/>
                </span>
            </div>
                            
            <div class="col-6 text-right"><strong>Sightings</strong></div>
            <div class="col-6 text-left">
                <span th:each="s : ${sv.sightingList}">
                    <span th:text="${s.date + ' ' + s.location.name}">
                        display sightings</span><br/>
                </span>
            </div>
        </div>
                                       
    </div>





















<!--
        <div class="row">
            <div class="container col-6" id="profilePicDiv">
                <img class="profilePic" th:if="${super.image != ''}" th:src="${super.image}">
                <img class="profilePic" th:if="${super.image == ''}" src="http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available.jpg">
            </div>
            <div class="col-6" id="main">
                <h2 th:text="${super.name}">Storm</h2>
                <form class="form-horizontal" role="form" novalidate>
                    <div class="form-group row">
                        <label for="txtFirstName" class="col-4 control-label">First Name:</label>
                        <div class="col-8">
                            <input type="text" id="txtFirstName" class="form-control-plaintext" name="name" th:value="${super.name}" readonly>
                        </div>
                    </div>
                   
                    <div class="form-group row">
                        <label for="txtDescription" class="col-4 control-label">Description:</label>
                        <div class="col-8">
                            <textarea class="form-control-plaintext scroll" id="txtDescription" name="description" th:text="${super.description}" readonly></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtAbilities" class="col-4 control-label">Abilities:</label>
                        <div class="col-8 scroll form-control-plaintext" id="txtAbilities">
                            <ul th:each="ability: ${super.abilities}">
                                <li th:text="${ability.name} + ': ' + ${ability.description}">Astro Projection: Can work out and sleep at the same time</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtOrganization" class="col-4 control-label">Organizations:</label>
                        <div class="col-8">
                            <div id="txtOrganization" class="form-control-plaintext scroll" name="organization" readonly>
                                <table class="table table-hover">
                                    <tr th:each="organization: ${super.organizations}">
                                        <td th:text="${organization.name}"></td>
                                        <td><a th:href="@{/organization/view/{organizationId}(organizationId=${organization.organizationId})}" href="#" class="btn btn-info" th:title="'View ' + ${organization.name}"><i class="far fa-eye"></i></a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtSightings" class="col-4 control-label">Sightings:</label>
                        <div class="col-8">
                            <div id="txtSightings" class="form-control-plaintext scroll" name="sighting">
                                <table class="table table-hover">
                                    <tr th:each="sighting: ${super.sightings}">
                                        <td th:text="${sighting.location.name} + ': ' + ${sighting.location.latitude} + ', ' + ${sighting.location.longitude}"></td>
                                        <td><a th:href="@{/sighting/view/{sightingId}(sightingId=${sighting.sightingId})}" href="#" class="btn btn-info" th:title="'View Sighting #' + ${sighting.sightingId}"><i class="far fa-eye"></i></a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-8">
                        <a th:href="@{/super/edit/{superId}(superId=${super.superId})}" href="#" class="btn btn-primary" th:title="'Edit ' + ${super.name}">Edit</a>
                        <a th:href="@{/super/delete/{superId}(superId=${super.superId})}" onclick="return confirm('Are you sure you would like to delete this')" class="btn btn-danger" th:title="'Delete ' + ${super.name}">Delete</a>
                        <a href="/supers" class="btn btn-info">Back</a>
                    </div>
                </div>
            </div>
        </div>
    -->








    </div>
    <div class="container text-center">
        <footer id="footer">
            <hr/>
            <p></p>
            <p>Images provided by Underground Government. <a href="https://laguardiatechhire.wordpress.com/">© 2059 Tesla</a></small></p>
        </footer>
    </div>
</body>

</html>
