<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-WuViQmTamrPyvMFZjf8te7HpKtdxuzV/HX1yG26a0d8yieIBr+beDf1ME99iX1cM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <title th:text="'View Organization #' + ${organization.organizationId}">View Organization #1</title>
    <style>
        #radar {
            height: 50px;
        }

        #main {
            padding-top: 10px;
        }

        .scroll {
            height: 150px;
            overflow: auto;
        }

        label {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="container">
        <nav class="row navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/"><img id="radar" src="/icons/radar.svg" alt="Radar for spotting supers"> Super Sightings</a>
            <div id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sightings">Sightings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="locations">Locations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="supers">People</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="organizations">Organizations<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="abilities">Abilities></a>
                    </li>
                </ul>
            </div>
        </nav>



        <div class="row m-4 border border-dark">
                <div class="col-6 text-right"><strong>ID</strong></div>
                <div class="col-6 text-left">
                    <span th:text="${organization.organizationId}">display id</span>
                </div>

                <div class="col-6 text-right"><strong>Name</strong></div>
                <div class="col-6 text-left">
                    <span th:text="${organization.name}">display name</span>
                </div>

                <div class="col-6 text-right"><strong>Description</strong></div>
                <div class="col-6 text-left">
                    <span th:text="${organization.description}">display description</span>
                </div>
                <div class="col-6 text-right"><strong>Location</strong></div>
                <div class="col-6 text-left">
                    <span th:text="${organization.location.name + ' ' + 
                          organization.location.city}">display location</span>
                </div>
                <div class="col-6 text-right"><strong>Members</strong></div>
                <div class="col-6 text-left">
                    <span th:each="sv : ${supers}">
                        <span th:text="${sv.name + ' ' + sv.description}">
                            display villains</span><br/>
                    </span>
                </div>
            </div>
                                            <div id="account" class="row">
                                   
                                    

                                   
                                </div>

























<!--
        <div class="col-md-6" id="main">
            <h2 th:text="${organization.name}">Illumination</h2>
            <form class="form-horizontal" role="form" novalidate>
                <div class="form-group row">
                    <label for="txtDescription" class="col-4 control-label">Description:</label>
                    <div class="col-8">
                        <textarea class="form-control-plaintext scroll" id="txtDescription" name="description" th:text="${organization.description}" readonly></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtName" class="col-4 control-label">Headquarters:</label>
                    <div class="col-8">
                        <input type="text" id="txtName" class="form-control-plaintext" th:value="${organization.location.name}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="numLatitude" class="col-4 control-label">Latitude:</label>
                    <div class="col-8">
                        <input type="number" id="numLatitude" class="form-control-plaintext" th:value="${organization.location.latitude}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="numLongitude" class="col-4 control-label">Longitude:</label>
                    <div class="col-8">
                        <input type="number" class="form-control-plaintext" th:value="${organization.location.longitude}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtSightings" class="col-4 control-label">Members:</label>
                    <div class="col-8">
                        <div id="txtSightings" class="form-control-plaintext scroll" name="supers">
                            <table class="table table-hover">
                                <tr th:each="super: ${organization.supers}">
                                    <td th:text="${super.name}"></td>
                                    <td><a th:href="@{/super/view/{superId}(superId=${super.superId})}" href="#" class="btn btn-info" th:title="'View ' + ${super.name}"><i class="far fa-eye"></i></a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-8">
                    <a th:href="@{/organization/edit/{organizationId}(organizationId=${organization.organizationId})}" href="#" class="btn btn-primary" th:title="'Edit ' + ${organization.name}">Edit</a>
                    <a th:href="@{/organization/delete/{organizationId}(organizationId=${organization.organizationId})}" onclick="return confirm('Are you sure you would like to delete this')" class="btn btn-danger" th:title="'Delete ' + ${organization.name}">Delete</a>
                    <a href="/organizations" class="btn btn-info">Back</a>
                </div>
            </div>
        </div>
    -->













    </div>
    <div class="container text-center">
        <footer id="footer">
            <hr/>
            <p></p>
            <p>Images provided by Underground States. <a href="https://laguardiatechhire.wordpress.com/">© 1984</a></small></p>
        </footer>
    </div>
</body>

</html>
